In [1]:
import pandas as pd
import acquire
import wrangle
import acquire_all_counties
import prepare_counties

In [ ]:
df = acquire_all_counties.get_countylevelonly_data()

In [ ]:
df = prepare_counties.prepare_countylevelonly_data(df)

In [ ]:
df.head()

In [2]:
df, train_exp, X_train_scaled, y_train, X_test_scaled, y_test = wrangle.wrangle_countylevelonly_data()

Enter the requested date in YYYY-MM-DD format: 2020-12-08
Enter the requested state full name: texas
(254, 123)
(254, 6)
(254, 128)
(203, 29) (51, 29)

In [3]:
train_exp.head()

,county,e_totpop,raw_svi,f_pov_soci,f_unemp_soci,f_pci_soci,f_nohsdp_soci,f_soci_total,f_age65_comp,f_age17_comp,...,f_groupq_trans,f_trans_total,all_flags_total,cases,state_pop,pop_percentage,calculated_cases,cases_per_100k,bin_svi,rank_svi
250,Zapata,14369,0.9895,1,1,1,1,4,0,1,...,0,2,10,591,27885195,0.000515,708.665777,4113.021087,High,1
59,Eastland,18270,0.8067,0,0,0,0,0,0,0,...,0,0,1,431,27885195,0.000655,901.059485,2359.058566,High,1
57,Dickens,2216,0.8796,0,1,0,0,1,0,0,...,0,0,1,71,27885195,0.000079,109.291068,3203.971119,High,1
113,Coryell,75389,0.7809,0,1,0,0,1,0,0,...,1,1,2,2667,27885195,0.002704,3718.115681,3537.651382,High,1
148,Dallam,7243,0.5503,0,0,0,1,1,0,1,...,0,0,3,436,27885195,0.000260,357.218054,6019.605136,Moderate High,2

In [ ]:
svidf, casesdf, zipsdf, cpopdf = acquire_all_counties.get_county_data()

In [ ]:
svidf.head()

In [ ]:
casesdf

In [ ]:
zipsdf

In [ ]:
cpopdf

In [ ]:
cntysvi = pd.read_csv('SVI2018_US_COUNTY.csv')

In [ ]:
cntysvi.shape

In [ ]:
cntysvi = cntysvi[cntysvi.E_TOTPOP != 0]

In [ ]:
cntysvi.head()

In [ ]:
cntysvi.shape

In [ ]:
casesdf = pd.read_csv('COVID20201208_county', index_col=0)

In [ ]:
casesdf.head()

In [ ]:
# list of US zip codes with county and population, also includes county weights
countydf = pd.read_csv('uszips.csv')

In [ ]:
countydf

In [ ]:
countydf[countydf.county_name == 'Bexar']
# shows 70 zip codes for Bexar county

In [ ]:
countydf[countydf.county_name == 'Dallas']
# shows 117 rows for Dallas, other states have a Dallas county

In [ ]:
# filter for Dallas county TX only
countydf[(countydf.county_name == 'Dallas') & (countydf.state_id == 'TX')]

In [ ]:
# unpack county weights?
countydf.county_weights = countydf.county_weights.str.strip('{')
countydf.county_weights = countydf.county_weights.str.strip('}')
county_weightsdf = countydf.county_weights.str.split(',', expand=True)
county_weightsdf.columns = ['zip1', 'zip2', 'zip3', 'zip4', 'zip5', 'zip6']

tidy_df = pd.concat([countydf, county_weightsdf], axis=1).drop(columns='county_weights')
tidy_df

In [ ]:
tidy_df1 = tidy_df.zip1.str.split(':', expand=True)
tidy_df1.columns = ['zip_1', 'zip_1prcnt']

tidy_df1 = pd.concat([tidy_df, tidy_df1], axis=1).drop(columns='zip1')
tidy_df1

In [ ]:
tidy_df1.zip_1 = tidy_df1.zip_1.str.strip("'")

tidy_df2 = tidy_df1.zip2.str.split(':', expand=True)
tidy_df2.columns = ['zip_2', 'zip_2prcnt']

tidy_df2 = pd.concat([tidy_df1, tidy_df2], axis=1).drop(columns='zip2')
tidy_df2

In [ ]:
tidy_df2.zip_2 = tidy_df2.zip_2.str.strip("'")

tidy_df3 = tidy_df2.zip3.str.split(':', expand=True)
tidy_df3.columns = ['zip_3', 'zip_3prcnt']

tidy_df3 = pd.concat([tidy_df2, tidy_df3], axis=1).drop(columns='zip3')
tidy_df3

In [ ]:
tidy_df3.zip_3 = tidy_df3.zip_3.str.strip("'")

tidy_df4 = tidy_df3.zip4.str.split(':', expand=True)
tidy_df4.columns = ['zip_4', 'zip_4prcnt']

tidy_df4 = pd.concat([tidy_df3, tidy_df4], axis=1).drop(columns='zip4')
tidy_df4

In [ ]:
tidy_df4.to_csv('check_tidy.csv')

In [ ]:
all_dates = pd.read_csv('us-counties_COVID_all_dates.csv')

In [ ]:
all_dates.head()

In [ ]:
all_counties20201208 = all_dates[all_dates.date == '2020-12-08']

In [ ]:
all_counties20201208[all_counties20201208.county == 'Bexar']

In [ ]:
all_counties20201208.to_csv('COVID20201208_county')

In [ ]:
date1208 = pd.read_csv('COVID20201208_county', index_col = 0)

In [ ]:
date1208

In [ ]:
# merge zip to county for datae 12/8 ?? use inner join? will lose Puerto Rico I think
# need to isolate to Texas? other states have a Dallas county
zip_1208_county = pd.merge(countydf, date1208, left_on='county_name', right_on='county')

In [ ]:
zip_1208_county.shape

In [ ]:
zip_1208_county[zip_1208_county.county_name == 'Bexar']
# good, still have 70 zip codes for Bexar

In [ ]:
zip_1208_county[(zip_1208_county.county_name == 'Dallas') & (zip_1208_county.state_id == 'TX')]
# good, still have 70 zip codes for Bexar

In [ ]:
# test Dallas compile
dallasdf = acquire.compile_dallas_data()

In [ ]:
dallasdf.isna().sum()

In [ ]:
dallasdf.shape

In [ ]:
null_list = dallasdf[dallasdf.cases_per_100k.isna()].zip.tolist()

In [ ]:
# there are 62 zip codes in the Dallas SVI that are not showing in the list of cases
len(set(null_list))

In [ ]:
set(null_list)

In [ ]:
ddf = acquire.get_dallas_data()

In [ ]:
ddf.info()

In [ ]:
ddf

In [ ]:
dsvi = acquire.get_dallas_svi_data()

In [ ]:
dsvi.shape

In [ ]:
svi_zip = pd.merge(dsvi, mer, on='tract', how='left')

In [ ]:
svi_zip[svi_zip.zip.isna()]

In [ ]:
mer = acquire.get_HUD(dsvi)

In [ ]:
len(mer)

In [ ]:
mer.head()

In [ ]:
mer[mer.tract == 48113001701]

In [ ]:
mer[mer.tract == 48113020700]