In [1]:
import pandas as pd
import numpy as np
from scripts_python import acquire, prepare, wrangle

In [2]:
# read in history file
svi = pd.read_csv('SVI_history.csv', index_col=0)

In [3]:
svi.head()

,county,tract,raw_svi2018,raw_svi2016,raw_svi2014,r_soci_total2018,r_comp_total2018,r_status_total2018,r_trans_total2018,r_soci_total2016,r_comp_total2016,r_status_total2016,r_trans_total2016,r_soci_total2014,r_comp_total2014,r_status_total2014,r_trans_total2014,est_population2018,est_population2016,est_population2014
40,Anderson,48001950500,0.9336,0.7724,0.8507,0.7946,0.8089,0.8392,0.9363,0.7477,0.7710,0.6158,0.7594,0.7497,0.9437,0.5644,0.8635,4569,4680.0,4666.0
41,Anderson,48001950600,0.6993,0.5937,0.6330,0.6486,0.5543,0.5934,0.7354,0.4270,0.5256,0.4870,0.8486,0.4403,0.8119,0.4816,0.7999,5570,6524.0,6480.0
42,Anderson,48001950800,0.6501,0.4758,0.4552,0.5890,0.7410,0.6780,0.4751,0.3497,0.3918,0.3069,0.8152,0.2755,0.4677,0.2284,0.8515,5584,5014.0,4937.0
43,Andrews,48003950100,0.3216,0.1359,0.1986,0.4012,0.2134,0.7844,0.1515,0.1101,0.2792,0.2453,0.1677,0.1385,0.4161,0.3034,0.2233,2254,2162.0,1994.0
44,Andrews,48003950200,0.6865,0.5578,0.3609,0.6386,0.1974,0.8127,0.7749,0.5233,0.2156,0.6035,0.7498,0.3266,0.2903,0.5014,0.4356,7281,7121.0,6877.0

**adding calculated columns**

In [4]:
svi['rising'] = np.where(((svi.raw_svi2016 > svi.raw_svi2014) & (svi.raw_svi2018 > svi.raw_svi2016)), 1, 0)

In [5]:
svi['falling'] = np.where(((svi.raw_svi2016 < svi.raw_svi2014) & (svi.raw_svi2018 < svi.raw_svi2016)), 1, 0)

In [6]:
svi['delta'] = svi.raw_svi2018 - svi.raw_svi2014

In [7]:
svi['avg3yr'] = (svi.raw_svi2018 + svi.raw_svi2016 + svi.raw_svi2014)/3

In [8]:
svi['r_soci_rise'] = np.where(((svi.r_soci_total2016 > svi.r_soci_total2014) & (svi.r_soci_total2018 > svi.r_soci_total2016)), 1, 0)

In [9]:
svi['r_comp_rise'] = np.where(((svi.r_comp_total2016 > svi.r_comp_total2014) & (svi.r_comp_total2018 > svi.r_comp_total2016)), 1, 0)

In [10]:
svi['r_status_rise'] = np.where(((svi.r_status_total2016 > svi.r_status_total2014) & (svi.r_status_total2018 > svi.r_status_total2016)), 1, 0)

In [11]:
svi['r_trans_rise'] = np.where(((svi.r_trans_total2016 > svi.r_trans_total2014) & (svi.r_trans_total2018 > svi.r_trans_total2016)), 1, 0)

In [12]:
svi['r_soci_fall'] = np.where(((svi.r_soci_total2016 < svi.r_soci_total2014) & (svi.r_soci_total2018 < svi.r_soci_total2016)), 1, 0)

In [13]:
svi['r_comp_fall'] = np.where(((svi.r_comp_total2016 < svi.r_comp_total2014) & (svi.r_comp_total2018 < svi.r_comp_total2016)), 1, 0)

In [14]:
svi['r_status_fall'] = np.where(((svi.r_status_total2016 < svi.r_status_total2014) & (svi.r_status_total2018 < svi.r_status_total2016)), 1, 0)

In [15]:
svi['r_trans_fall'] = np.where(((svi.r_trans_total2016 < svi.r_trans_total2014) & (svi.r_trans_total2018 < svi.r_trans_total2016)), 1, 0)

In [16]:
svi.head()

,county,tract,raw_svi2018,raw_svi2016,raw_svi2014,r_soci_total2018,r_comp_total2018,r_status_total2018,r_trans_total2018,r_soci_total2016,...,delta,avg3yr,r_soci_rise,r_comp_rise,r_status_rise,r_trans_rise,r_soci_fall,r_comp_fall,r_status_fall,r_trans_fall
40,Anderson,48001950500,0.9336,0.7724,0.8507,0.7946,0.8089,0.8392,0.9363,0.7477,...,0.0829,0.852233,0,0,1,0,0,0,0,0
41,Anderson,48001950600,0.6993,0.5937,0.6330,0.6486,0.5543,0.5934,0.7354,0.4270,...,0.0663,0.642000,0,0,1,0,0,0,0,0
42,Anderson,48001950800,0.6501,0.4758,0.4552,0.5890,0.7410,0.6780,0.4751,0.3497,...,0.1949,0.527033,1,0,1,0,0,0,0,1
43,Andrews,48003950100,0.3216,0.1359,0.1986,0.4012,0.2134,0.7844,0.1515,0.1101,...,0.1230,0.218700,0,0,0,0,0,1,0,1
44,Andrews,48003950200,0.6865,0.5578,0.3609,0.6386,0.1974,0.8127,0.7749,0.5233,...,0.3256,0.535067,1,0,1,1,0,1,0,0

In [17]:
# filter to Bexar and Dallas counties
dsvi = svi[svi.county == 'Dallas']
dsvi

,county,tract,raw_svi2018,raw_svi2016,raw_svi2014,r_soci_total2018,r_comp_total2018,r_status_total2018,r_trans_total2018,r_soci_total2016,...,delta,avg3yr,r_soci_rise,r_comp_rise,r_status_rise,r_trans_rise,r_soci_fall,r_comp_fall,r_status_fall,r_trans_fall
662,Dallas,48113000100,0.0457,0.0568,0.0595,0.0644,0.0395,0.3967,0.1709,0.0844,...,-0.0138,0.054000,0,0,0,0,0,0,0,0
663,Dallas,48113000201,0.0059,0.0113,0.0237,0.0052,0.0416,0.3835,0.0396,0.0071,...,-0.0178,0.013633,0,0,1,0,1,1,0,0
664,Dallas,48113000202,0.1401,0.0877,0.0545,0.0187,0.0845,0.4722,0.4951,0.0650,...,0.0856,0.094100,0,1,1,1,0,0,0,0
665,Dallas,48113000300,0.0334,0.0058,0.0065,0.1064,0.0351,0.5250,0.0633,0.0207,...,0.0269,0.015233,0,1,1,0,0,0,0,1
666,Dallas,48113001001,0.0479,0.0382,0.1217,0.0746,0.0634,0.4762,0.0935,0.0345,...,-0.0738,0.069267,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5219,Dallas,48113012208,0.9648,0.9678,0.9885,0.9857,0.8112,0.9731,0.7344,0.9944,...,-0.0237,0.973700,0,0,1,0,1,1,0,1
5220,Dallas,48113013713,0.9529,0.9065,0.9277,0.9150,0.6002,0.9804,0.8957,0.8143,...,0.0252,0.929033,0,1,0,0,0,0,0,1
5221,Dallas,48113017001,0.9266,0.8084,0.6713,0.7051,0.8204,0.8645,0.9627,0.6511,...,0.2553,0.802100,1,1,1,1,0,0,0,0
5222,Dallas,48113019013,0.9764,0.9964,0.9981,0.9477,0.5694,0.9886,0.9598,0.9893,...,-0.0217,0.990300,0,0,1,0,1,1,0,1
5223,Dallas,48113019213,0.9527,0.9589,0.9816,0.9235,0.8690,0.9691,0.7299,0.9440,...,-0.0289,0.964400,0,0,0,0,1,0,0,0

In [18]:
sasvi = svi[svi.county =='Bexar']
sasvi

,county,tract,raw_svi2018,raw_svi2016,raw_svi2014,r_soci_total2018,r_comp_total2018,r_status_total2018,r_trans_total2018,r_soci_total2016,...,delta,avg3yr,r_soci_rise,r_comp_rise,r_status_rise,r_trans_rise,r_soci_fall,r_comp_fall,r_status_fall,r_trans_fall
116,Bexar,48029120300,0.2925,0.2695,0.1751,0.0710,0.6114,0.3725,0.5166,0.1026,...,0.1174,0.245700,0,0,0,1,1,0,0,0
117,Bexar,48029120400,0.1349,0.0958,0.1364,0.0021,0.5817,0.3154,0.2741,0.0040,...,-0.0015,0.122367,0,0,0,0,1,0,0,0
118,Bexar,48029120501,0.8986,0.8159,0.8462,0.7404,0.9239,0.8831,0.7674,0.5126,...,0.0524,0.853567,0,0,1,0,0,1,0,0
119,Bexar,48029120600,0.4639,0.5052,0.4093,0.4852,0.2332,0.6490,0.4650,0.4638,...,0.0546,0.459467,1,0,1,0,0,0,0,0
120,Bexar,48029120800,0.1433,0.1246,0.1713,0.0290,0.5434,0.2772,0.2570,0.0848,...,-0.0280,0.146400,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4777,Bexar,48029190100,0.9457,0.8649,0.8932,0.8606,0.5934,0.9177,0.9549,0.7988,...,0.0525,0.901267,0,0,0,0,0,1,0,0
4778,Bexar,48029191410,0.4986,0.2868,0.3111,0.4502,0.0850,0.8452,0.6147,0.2887,...,0.1875,0.365500,0,0,0,1,0,0,0,0
4779,Bexar,48029980100,0.2563,0.2136,0.1699,0.3631,0.2539,0.2632,0.3275,0.2269,...,0.0864,0.213267,1,1,0,0,0,0,1,0
5204,Bexar,48029110100,0.7508,0.7069,0.6745,0.5569,0.2086,0.8646,0.9475,0.4612,...,0.0763,0.710733,1,0,1,0,0,1,0,0
5205,Bexar,48029110600,0.9953,0.9833,0.9690,0.9911,0.7017,0.9232,0.9940,0.9923,...,0.0263,0.982533,0,0,0,1,1,0,0,0

# Questions
- overall county mean for both counties by year? total?
- overall is county rising? falling? neither?
- delta for both counties?
- average scores for all raw and r columns for each county?
- how many tracks risiing? falling? neither? by county?
- other patterns?

In [19]:
svi.columns

Index(['county', 'tract', 'raw_svi2018', 'raw_svi2016', 'raw_svi2014',
       'r_soci_total2018', 'r_comp_total2018', 'r_status_total2018',
       'r_trans_total2018', 'r_soci_total2016', 'r_comp_total2016',
       'r_status_total2016', 'r_trans_total2016', 'r_soci_total2014',
       'r_comp_total2014', 'r_status_total2014', 'r_trans_total2014',
       'est_population2018', 'est_population2016', 'est_population2014',
       'rising', 'falling', 'delta', 'avg3yr', 'r_soci_rise', 'r_comp_rise',
       'r_status_rise', 'r_trans_rise', 'r_soci_fall', 'r_comp_fall',
       'r_status_fall', 'r_trans_fall'],
      dtype='object')

In [21]:
# aggregate columns by county
raw_compdf = svi.groupby(['county'])['raw_svi2018', 'raw_svi2016', 'raw_svi2014', 'delta', 'avg3yr', 
       'r_soci_total2018', 'r_comp_total2018', 'r_status_total2018',
       'r_trans_total2018', 'r_soci_total2016', 'r_comp_total2016',
       'r_status_total2016', 'r_trans_total2016', 'r_soci_total2014',
       'r_comp_total2014', 'r_status_total2014', 'r_trans_total2014'].agg({'raw_svi2018':['min', 'max','mean'], 
                                             'raw_svi2016':['min', 'max','mean'], 
                                            'raw_svi2014':['min', 'max','mean'], 'delta':['min', 'max','mean'], 
                                             'avg3yr':['min', 'max','mean'],
                                             'r_soci_total2018':['mean'],
                                             'r_comp_total2018':['mean'], 
                                             'r_status_total2018':['mean'],
                                             'r_trans_total2018':['mean'], 
                                             'r_soci_total2016':['mean'], 
                                             'r_comp_total2016':['mean'], 
                                             'r_status_total2016':['mean'], 
                                             'r_trans_total2016':['mean'], 
                                             'r_soci_total2014':['mean'], 
                                             'r_comp_total2014':['mean'], 
                                             'r_status_total2014':['mean'], 
                                             'r_trans_total2014':['mean']})

In [22]:
# aggregate columns by sum
sum_compdf = svi.groupby(['county'])['rising', 'falling', 'r_soci_rise', 'r_comp_rise',
       'r_status_rise', 'r_trans_rise', 'r_soci_fall', 'r_comp_fall',
       'r_status_fall', 'r_trans_fall'].agg({'rising':['sum'], 'falling':['sum'],  'r_soci_rise':['sum'], 
                                             'r_comp_rise':['sum'], 'r_status_rise':['sum'], 
                                             'r_trans_rise':['sum'], 'r_soci_fall':['sum'], 'r_comp_fall':['sum'], 
                                             'r_status_fall':['sum'], 'r_trans_fall':['sum']})

In [23]:
# flatten column headers
raw_compdf.columns = [' '.join(col).strip() for col in raw_compdf.columns.values]
raw_compdf = raw_compdf.reset_index()

In [24]:
# flatten column headers
sum_compdf.columns = [' '.join(col).strip() for col in sum_compdf.columns.values]
sum_compdf = sum_compdf.reset_index()

In [25]:
# filter for only Dallas 
rd_comp = raw_compdf[raw_compdf.county == 'Dallas']
sd_comp = sum_compdf[sum_compdf.county == 'Dallas']

In [26]:
# filter for only  Bexar
rs_comp = raw_compdf[raw_compdf.county == 'Bexar']
ss_comp = sum_compdf[sum_compdf.county == 'Bexar']

In [27]:
# better idea, single filter for to get both counties
rbdcomp = raw_compdf[(raw_compdf.county == 'Dallas') | (raw_compdf.county == 'Bexar')]
rbdcomp

,county,raw_svi2018 min,raw_svi2018 max,raw_svi2018 mean,raw_svi2016 min,raw_svi2016 max,raw_svi2016 mean,raw_svi2014 min,raw_svi2014 max,raw_svi2014 mean,...,r_status_total2018 mean,r_trans_total2018 mean,r_soci_total2016 mean,r_comp_total2016 mean,r_status_total2016 mean,r_trans_total2016 mean,r_soci_total2014 mean,r_comp_total2014 mean,r_status_total2014 mean,r_trans_total2014 mean
14,Bexar,0.0099,0.9999,0.616627,0.0081,0.9994,0.535879,0.0033,0.9983,0.53262,...,0.788722,0.489729,0.516386,0.560888,0.597012,0.482740,0.512910,0.552460,0.596702,0.485589
56,Dallas,0.0002,0.9998,0.579433,0.0004,0.9969,0.516690,0.0008,0.9981,0.51752,...,0.791684,0.479128,0.528207,0.420364,0.626319,0.476382,0.534591,0.424619,0.619259,0.478478

In [28]:
# better idea, single filter for to get both counties
sbdcomp = sum_compdf[(sum_compdf.county == 'Dallas') | (sum_compdf.county == 'Bexar')]
sbdcomp

,county,rising sum,falling sum,r_soci_rise sum,r_comp_rise sum,r_status_rise sum,r_trans_rise sum,r_soci_fall sum,r_comp_fall sum,r_status_fall sum,r_trans_fall sum
14,Bexar,164,29,138,107,188,92,47,83,3,73
56,Dallas,204,70,157,133,282,128,102,146,2,121

**resetting index to county**

In [29]:
rbdcomp = rbdcomp.set_index('county')

In [30]:
sbdcomp = sbdcomp.set_index('county')

In [31]:
rbdcomp

,raw_svi2018 min,raw_svi2018 max,raw_svi2018 mean,raw_svi2016 min,raw_svi2016 max,raw_svi2016 mean,raw_svi2014 min,raw_svi2014 max,raw_svi2014 mean,delta min,...,r_status_total2018 mean,r_trans_total2018 mean,r_soci_total2016 mean,r_comp_total2016 mean,r_status_total2016 mean,r_trans_total2016 mean,r_soci_total2014 mean,r_comp_total2014 mean,r_status_total2014 mean,r_trans_total2014 mean
county,,,,,,,,,,,,,,,,,,,,,
Bexar,0.0099,0.9999,0.616627,0.0081,0.9994,0.535879,0.0033,0.9983,0.53262,-0.2903,...,0.788722,0.489729,0.516386,0.560888,0.597012,0.482740,0.512910,0.552460,0.596702,0.485589
Dallas,0.0002,0.9998,0.579433,0.0004,0.9969,0.516690,0.0008,0.9981,0.51752,-0.2808,...,0.791684,0.479128,0.528207,0.420364,0.626319,0.476382,0.534591,0.424619,0.619259,0.478478

In [32]:
# add summary calculations
rbdcomp['raw_svi_mean_change18-14'] = rbdcomp['raw_svi2018 mean'] - rbdcomp['raw_svi2014 mean']
rbdcomp['r_soci_mean_change18-14'] = rbdcomp['r_soci_total2018 mean'] - rbdcomp['r_soci_total2014 mean']
rbdcomp['r_comp_mean_change18-14'] = rbdcomp['r_comp_total2018 mean'] - rbdcomp['r_comp_total2014 mean']
rbdcomp['r_status_mean_change18-14'] = rbdcomp['r_status_total2018 mean'] - rbdcomp['r_status_total2014 mean']
rbdcomp['r_trans_mean_change18-14'] = rbdcomp['r_trans_total2018 mean'] - rbdcomp['r_trans_total2014 mean']

In [33]:
# transpose to make it easier to review side by side
Trbdcomp = rbdcomp.T

In [34]:
Trbdcomp

county                        Bexar    Dallas
raw_svi2018 min            0.009900  0.000200
raw_svi2018 max            0.999900  0.999800
raw_svi2018 mean           0.616627  0.579433
raw_svi2016 min            0.008100  0.000400
raw_svi2016 max            0.999400  0.996900
raw_svi2016 mean           0.535879  0.516690
raw_svi2014 min            0.003300  0.000800
raw_svi2014 max            0.998300  0.998100
raw_svi2014 mean           0.532620  0.517520
delta min                 -0.290300 -0.280800
delta max                  0.455800  0.400800
delta mean                 0.084008  0.061913
avg3yr min                 0.008100  0.001133
avg3yr max                 0.999200  0.995700
avg3yr mean                0.561709  0.537881
r_soci_total2018 mean      0.576409  0.563427
r_comp_total2018 mean      0.580194  0.428070
r_status_total2018 mean    0.788722  0.791684
r_trans_total2018 mean     0.489729  0.479128
r_soci_total2016 mean      0.516386  0.528207
r_comp_total2016 mean      0.560888  0.420364
r_status_total2016 mean    0.597012  0.626319
r_trans_total2016 mean     0.482740  0.476382
r_soci_total2014 mean      0.512910  0.534591
r_comp_total2014 mean      0.552460  0.424619
r_status_total2014 mean    0.596702  0.619259
r_trans_total2014 mean     0.485589  0.478478
raw_svi_mean_change18-14   0.084008  0.061913
r_soci_mean_change18-14    0.063499  0.028836
r_comp_mean_change18-14    0.027733  0.003451
r_status_mean_change18-14  0.192020  0.172426
r_trans_mean_change18-14   0.004140  0.000650

In [35]:
# read to .csv
Trbdcomp.to_csv('SVI_history_summary_rank.csv')

**Takeaways**

- nothing really jumps out here
- everything seems to be within tenths or hundredths

In [36]:
sbdcomp

,rising sum,falling sum,r_soci_rise sum,r_comp_rise sum,r_status_rise sum,r_trans_rise sum,r_soci_fall sum,r_comp_fall sum,r_status_fall sum,r_trans_fall sum
county,,,,,,,,,,
Bexar,164,29,138,107,188,92,47,83,3,73
Dallas,204,70,157,133,282,128,102,146,2,121

**add summary calculations**

In [37]:
sbdcomp['num_tracts'] = [362, 527]

In [38]:
sbdcomp['rising_pct'] = sbdcomp['rising sum']/sbdcomp['num_tracts']
sbdcomp['falling_pct'] = sbdcomp['falling sum']/sbdcomp['num_tracts']
sbdcomp['r_soci_rise_pct'] = sbdcomp['r_soci_rise sum']/sbdcomp['num_tracts']
sbdcomp['r_comp_rise_pct'] = sbdcomp['r_comp_rise sum']/sbdcomp['num_tracts']
sbdcomp['r_status_rise_pct'] = sbdcomp['r_status_rise sum']/sbdcomp['num_tracts']
sbdcomp['r_trans_rise_pct'] = sbdcomp['r_trans_rise sum']/sbdcomp['num_tracts']
sbdcomp['r_soci_fall_pct'] = sbdcomp['r_soci_fall sum']/sbdcomp['num_tracts']
sbdcomp['r_comp_fall_pct'] = sbdcomp['r_comp_fall sum']/sbdcomp['num_tracts']
sbdcomp['r_status_fall_pct'] = sbdcomp['r_status_fall sum']/sbdcomp['num_tracts']
sbdcomp['r_trans_fall_pct'] = sbdcomp['r_trans_fall sum']/sbdcomp['num_tracts']

In [39]:
sbdcomp

,rising sum,falling sum,r_soci_rise sum,r_comp_rise sum,r_status_rise sum,r_trans_rise sum,r_soci_fall sum,r_comp_fall sum,r_status_fall sum,r_trans_fall sum,...,rising_pct,falling_pct,r_soci_rise_pct,r_comp_rise_pct,r_status_rise_pct,r_trans_rise_pct,r_soci_fall_pct,r_comp_fall_pct,r_status_fall_pct,r_trans_fall_pct
county,,,,,,,,,,,,,,,,,,,,,
Bexar,164,29,138,107,188,92,47,83,3,73,...,0.453039,0.080110,0.381215,0.295580,0.519337,0.254144,0.129834,0.229282,0.008287,0.201657
Dallas,204,70,157,133,282,128,102,146,2,121,...,0.387097,0.132827,0.297913,0.252372,0.535104,0.242884,0.193548,0.277040,0.003795,0.229602

In [40]:
# transpose to make it easier to review side by side
Tsbdcomp = sbdcomp.T

In [41]:
Tsbdcomp

county                  Bexar      Dallas
rising sum         164.000000  204.000000
falling sum         29.000000   70.000000
r_soci_rise sum    138.000000  157.000000
r_comp_rise sum    107.000000  133.000000
r_status_rise sum  188.000000  282.000000
r_trans_rise sum    92.000000  128.000000
r_soci_fall sum     47.000000  102.000000
r_comp_fall sum     83.000000  146.000000
r_status_fall sum    3.000000    2.000000
r_trans_fall sum    73.000000  121.000000
num_tracts         362.000000  527.000000
rising_pct           0.453039    0.387097
falling_pct          0.080110    0.132827
r_soci_rise_pct      0.381215    0.297913
r_comp_rise_pct      0.295580    0.252372
r_status_rise_pct    0.519337    0.535104
r_trans_rise_pct     0.254144    0.242884
r_soci_fall_pct      0.129834    0.193548
r_comp_fall_pct      0.229282    0.277040
r_status_fall_pct    0.008287    0.003795
r_trans_fall_pct     0.201657    0.229602

In [42]:
# read to .csv
Tsbdcomp.to_csv('SVI_history_summary_sum.csv')

**Takeaways**     
- remember, rising is bad, this means tracts are scoring higher than previous year and that means things are worse than they were before
- falling scores are good, these are areas where the community is getting LESS vulnerable over time
- 45% of the communities (tracts) in San Antonio are getting worse scores year over year from 2014 to 2018
    - vs. 39% of the communities in Dallas
- only 8% of the areas in San Antonio are seeing a year over year improvement in score
    - vs. 13% of communities in Dallas
- key grouping in San Antonio that is getting worse year over year is socioeconomic subgroup
    - San Antonio 38% getting worse vs. 30% in Dallas
    - San Antonio only 13% of areas are improving vs 19% in Dallas
- another key group difference household composition
    - San Antonio 30% getting worse vs. 25% in Dallas
    - San Antonio 23% getting better vs. 28% getting better in Dallas
    
    
**Things that might be impacting this**      
- Dallas might have programs in place that San Antonio does not to assist these at risk areas
- Redlining history and continued impact in San Antonio may be disproportionately effecting or stagnating improvements in areas in San Antonio

In [44]:
svi_features = svi[['tract', 'rising', 'falling', 'delta', 'avg3yr', 
                    'r_soci_rise', 'r_comp_rise', 'r_status_rise', 'r_trans_rise', 
                   'r_soci_fall', 'r_comp_fall', 'r_status_fall', 'r_trans_fall']]

In [ ]:
svi_features.head()

In [45]:
svi_features.to_csv('svi_features.csv')

In [ ]:
# merge svi features to df after prepare, before split and scale
df2split = pd.merge(df, svi_features, on='tract')

In [ ]:
df2split

In [ ]:
svi['rank_svi'] = pd.cut(svi.raw_svi2018, bins = [0, .27, .5, .75, 1], labels = [4, 3, 2, 1])

In [ ]:
stdvev1 = svi[svi.rank_svi == 1].raw_svi2018.std()
stdvev1

In [ ]:
stdvev2 = svi[svi.rank_svi == 2].raw_svi2018.std()
stdvev2

In [ ]:
stdvev3 = svi[svi.rank_svi == 3].raw_svi2018.std()
stdvev3

In [ ]:
stdvev4 = svi[svi.rank_svi == 4].raw_svi2018.std()
stdvev4

- get 2018, 2016, 2014 historical SVI data .csv
    - note: 2010 is not available sorted by state
    - need to watch for possible issues with tract/FIPS changes creating null values
- get the rank/raw score for each theme and total by census track for each year available
- merge these back together on FIPS and watch for nulls
- change up or down from previous year
- stddev
- %/amount change year over year?


Groupings/Themes
- theme1 = socioeconomic status
- theme2 = household composition and disability
- theme3 = minority and language status
- theme4 = housing type and transportation


- NOTE: excluding 2010 because shape and columns in .csv are substantially different, will only got back to 2014

In [ ]:
# get 2018 by census tract
SVI2018 = pd.read_csv('SVI2018_US.csv')

In [ ]:
SVI2018.head()

In [ ]:
# filter for just TX
SVI2018 = SVI2018[SVI2018.STATE == 'TEXAS']

In [ ]:
SVI2018.head()

In [ ]:
# get list of all raw/rank SVI score columns
rpl_list18 = [col for col in SVI2018.columns if col.startswith('R')]

In [ ]:
rpl_list18

In [ ]:
# create dataframe with just the raw/rank score columns
df2018 = SVI2018[[c for c in SVI2018.columns if c in rpl_list18]]

In [ ]:
# rename columns
df2018.rename(columns = {'RPL_THEMES': 'raw_svi2018', 
                     "RPL_THEME1": "r_soci_total2018", 
                     "RPL_THEME2": "r_comp_total2018", 
                     "RPL_THEME3": "r_status_total2018", 
                     "RPL_THEME4": "r_trans_total2018"}, inplace = True)

In [ ]:
# add back county, FIPS, population
df2018['county'] = SVI2018.COUNTY
df2018['tract'] = SVI2018.FIPS
df2018['est_population2018'] = SVI2018.E_TOTPOP

In [ ]:
df2018.head()

In [ ]:
df2018.shape

In [ ]:
# note 2016 is already filtered down to TX only
SVI2016 = pd.read_csv('TX_SVI_census2016.csv')

In [ ]:
SVI2016.head()

In [ ]:
rpl_list16 = [col for col in SVI2016.columns if col.startswith('R')]

In [ ]:
rpl_list16

In [ ]:
# create dataframe with just the raw/rank score columns
df2016 = SVI2016[[c for c in SVI2016.columns if c in rpl_list16]]

In [ ]:
# rename columns
df2016.rename(columns = {'RPL_THEMES': 'raw_svi2016', 
                     "RPL_THEME1": "r_soci_total2016", 
                     "RPL_THEME2": "r_comp_total2016", 
                     "RPL_THEME3": "r_status_total2016", 
                     "RPL_THEME4": "r_trans_total2016"}, inplace = True)

In [ ]:
# add back county, FIPS, population
#df2016['county2016'] = SVI2016.COUNTY
df2016['tract'] = SVI2016.FIPS
df2016['est_population2016'] = SVI2016.E_TOTPOP

In [ ]:
df2016.head()

In [ ]:
df2016.shape

In [ ]:
# note 2014 is already filtered down to TX only
SVI2014 = pd.read_csv('TX_SVI_census2014.csv')

In [ ]:
rpl_list14 = [col for col in SVI2014.columns if col.startswith('R')]
rpl_list14

In [ ]:
# create dataframe with just the raw/rank score columns
df2014 = SVI2014[[c for c in SVI2014.columns if c in rpl_list14]]

In [ ]:
# rename columns
df2014.rename(columns = {'RPL_THEMES': 'raw_svi2014', 
                     "RPL_THEME1": "r_soci_total2014", 
                     "RPL_THEME2": "r_comp_total2014", 
                     "RPL_THEME3": "r_status_total2014", 
                     "RPL_THEME4": "r_trans_total2014"}, inplace = True)

In [ ]:
# add back county, FIPS, population
#df2014['county2014'] = SVI2014.COUNTY
df2014['tract'] = SVI2014.FIPS
df2014['est_population2014'] = SVI2014.E_TOTPOP

In [ ]:
df2014.head()

In [ ]:
df2014.shape

In [ ]:
# get 2010 by census tract
SVI2010 = pd.read_csv('SVI2010_US.csv')

In [ ]:
# DO NOT USE - not worth time to sort
SVI2010.head()

In [ ]:
# merge the 2018, 2016, and 2014 dateframes on census_tract
# all are same shape = (5254, 8), use left merge just in case so don't lose any 2018 data
SVI_hist = pd.merge(df2018, df2016, on='tract', how='left')

In [ ]:
SVI_hist.shape

In [ ]:
SVI_hist.columns

In [ ]:
SVI_hist_full = pd.merge(SVI_hist, df2014, on='tract', how='left')

In [ ]:
SVI_hist_full.shape

In [ ]:
SVI_hist_full.head()

In [ ]:
# now drop any -999.0 observations, per CDC these were removed during ranking
SVI_hist_full = SVI_hist_full[SVI_hist_full.raw_svi2018 != -999.0]

In [ ]:
SVI_hist_full.head()

In [ ]:
SVI_hist_full.shape

In [ ]:
SVI_hist_full.columns

In [ ]:
svi_histdf = SVI_hist_full[['county', 'tract', 'raw_svi2018', 'raw_svi2016', 'raw_svi2014', 
               'r_soci_total2018', 'r_comp_total2018', 'r_status_total2018', 'r_trans_total2018',
              'r_soci_total2016', 'r_comp_total2016', 'r_status_total2016', 'r_trans_total2016', 
              'r_soci_total2014', 'r_comp_total2014', 'r_status_total2014', 'r_trans_total2014',
              'est_population2018', 'est_population2016', 'est_population2014']]

In [ ]:
svi_histdf.head()

In [ ]:
# write combined file to csv
svi_histdf.to_csv('SVI_history.csv')

In [ ]:
# test wrangle
df, train_exp, X_train_scaled, y_train, X_test_scaled, y_test = wrangle.wrangle_data()

In [ ]:
sa = acquire.get_san_antonio_data()

In [ ]:
sa.head()

In [ ]:
sasvi = acquire.get_sa_svi_data()

In [ ]:
sasvi.head()

In [ ]:
huddf = acquire.get_HUD(sasvi)

In [ ]:
huddf.head()

In [ ]:
huddf.shape

In [ ]:
merge_bexar = sa[['zip', 'population', 'positive', 'casesp100000']]

In [ ]:
svi_zip = pd.merge(sasvi, huddf, on='tract', how='left')

In [ ]:
svi_zip.isna().sum()

In [ ]:
svi_zip.shape

In [ ]:
svi_zip_cases = pd.merge(svi_zip, merge_bexar, on='zip', how='left')

In [ ]:
svi_zip_cases.head()

In [ ]:
svi_zip_cases.isna().sum()

In [ ]:
svi_zip_cases.shape

In [ ]:
# testing
df = acquire.run()
df = prepare.prepare_data(df)
df.head()

In [ ]:
df.columns

In [ ]:
# full acquire test
df = acquire.run()

In [ ]:
# test acquire import Bexar data
bexar = acquire.get_san_antonio_data()
bexar.head()

In [ ]:
# test acquire import svi data
svi = acquire.get_svi_data()
svi.head()

In [ ]:
# test acquire get HUD merge df
merge_HUD = acquire.get_HUD(bexar)

In [ ]:
merge_HUD.head()

In [ ]:
# import Bexar cases dataframe
bexar_cases = pd.read_csv('Bexar_County_COVID-19_Data_by_Zip_Code.csv', index_col=0)
bexar_cases.columns = bexar_cases.columns.str.lower()
bexar_cases.head()

In [ ]:
bexar_cases.info()

In [ ]:
# how many unique zip codes are in the cases df?
bexar_cases.nunique()

In [ ]:
# import san antonio svi index dataframe
svidf = pd.read_csv('san_antonio_2018_tract.csv')
svidf.columns = svidf.columns.str.lower()
svidf = svidf.rename(columns={'fips': 'tract'})
svidf.head()

In [ ]:
# how many unique FIPS ids are in the svi df?
svidf.tract.value_counts()

In [ ]:
# get list of unique zip codes in the bexar cases df
bexar_zip = bexar_cases.zip_code.tolist()

In [ ]:
# import track to zip dataframe
zips = pd.read_csv('TRACT_ZIP_122018_78s_only.csv')
# filter the zips df to only those in the bexar zip list
zips = zips[zips.zip.isin(bexar_zip)]
zips

In [ ]:
# view zips sorted by tract and total ratio
zips.sort_values(by=['tract', 'tot_ratio'], ascending=[True, False]).head()

In [ ]:
# verify that .08 is highest for tract 48493000201
zips[zips.tract == 48493000201]

In [ ]:
# aggregate the data frame to get the zip code with the max ratio by tract
zipsdf = zips.groupby(['tract'])['tot_ratio', 'zip'].agg({'tot_ratio':['max'], 'zip':['first']})
zipsdf.columns = [' '.join(col).strip() for col in zipsdf.columns.values]
zipsdf = zipsdf.reset_index()

In [ ]:
zipsdf.head()

In [ ]:
# the svi only has 366 rows, hopefully they are all in this list
len(zipsdf)

In [ ]:
# create merge df to test merging
merge_zip3 = zipsdf[['tract', 'zip first']]

In [ ]:
merge_zip3 = merge_zip3.rename(columns={'zip first':'zip'})

In [ ]:
merge_zip3

In [ ]:
# create new df merging svi and 2nd merge zip file on tract
svi_zip2 = pd.merge(svidf, merge_zip3, on='tract', how='left')
svi_zip2.shape

In [ ]:
# check for nulls
svi_zip2.isna().sum()

In [ ]:
# create dataframe to merge with svi
merge_bexar = bexar[['zip', 'population', 'positive', 'casesp100000']]
merge_bexar.head()

In [ ]:
# merge svi_zip with merge_bexar
full = pd.merge(svi_zip2, merge_bexar, on='zip', how='left')
full.head()

In [ ]:
max_ratio = zips.groupby('tract')[['tot_ratio']].max()

In [ ]:
max_ratio = max_ratio.reset_index()

In [ ]:
max_ratio.head()

In [ ]:
max_ratio.nunique()

In [ ]:
zips[zips.zip == 78219]

In [ ]:
# requiring the total ratio to be 54% or higher per track gives the closest to 366 without going over
# there will be 4 zip codes not represented and 2 census tracks not represented
# when merged we should get null values for these
zip_54 = zips[zips.tot_ratio >= .54]
zip_54.nunique()

In [ ]:
# create df with only values to merge
merge_zip = zip_54[['tract', 'zip']]
merge_zip

In [ ]:
# create new df merging svi and merge zip on tract
fulldf = pd.merge(svidf, merge_zip, on='tract', how='left')
fulldf.shape

In [ ]:
# will need to convert zip to int
type(fulldf.zip[0])

In [ ]:
# there are 21 tract ids that do not have a zip code
fulldf.isna().sum()

In [ ]:
# create a df of just the row with a null zip code
missing_zip = fulldf[fulldf.zip.isna()]

In [ ]:
missing_zip

In [ ]:
# here is a list of the tracts missing zip codes
missing_zip.tract.value_counts()

In [ ]:
# find value for 48029131802
zips[zips.tract == 48029131802]
# assign 78101 to this track = highest % addresses

In [ ]:
# find value for 48029182103
zips[zips.tract == 48029182103]
# assign 78023 to this track = highest % addresses

In [ ]:
# find value for 48029980004
zips[zips.tract == 48029980004]
# assign 78216 to this track = highest % addresses

In [ ]:
# find value for 48029130402
zips[zips.tract == 48029130402]
# assign 78210 to this track = highest % addresses

In [ ]:
# find value for 48029141900
zips[zips.tract == 48029141900]
# assign 78263 to this track = highest % addresses

In [ ]:
# find value for 48029191503
zips[zips.tract == 48029191503]
# assign 78249 to this track = highest % addresses

In [ ]:
# find value for 48029181704
zips[zips.tract == 48029181704]
# assign 78238 to this track = highest % addresses

In [ ]:
# find value for 48029131700
zips[zips.tract == 48029131700]
# assign 78148 to this track = highest % addresses

In [ ]:
# find value for 48029121205
zips[zips.tract == 48029121205]
# assign 78233 to this track = highest % addresses

In [ ]:
# find value for 48029110100
zips[zips.tract == 48029110100]
# assign 78205 to this track = highest % addresses

In [ ]:
# find value for 48029182102
zips[zips.tract == 48029182102]
# assign 78255 to this track = highest % addresses

In [ ]:
# find value for 48029192100
zips[zips.tract == 48029192100]
# assign 78204 to this track = highest % addresses

In [ ]:
# find value for 48029121905
zips[zips.tract == 48029121905]
# assign 78259 to this track = highest % addresses

In [ ]:
# find value for 48029130800
zips[zips.tract == 48029130800]
# assign 78219 to this track = highest % addresses

In [ ]:
# find value for 48029121203
zips[zips.tract == 48029121203]
# assign 78233 to this track = highest % addresses

In [ ]:
# find value for 48029171602
zips[zips.tract == 48029171602]
# assign 78227 to this track = highest % addresses

In [ ]:
# find value for 48029181725
zips[zips.tract == 48029181725]
# assign 78251 to this track = highest % addresses

In [ ]:
# find value for 48029150300
zips[zips.tract == 48029150300]
# assign 78214 to this track = highest % addresses

In [ ]:
# find value for 48029191504
zips[zips.tract == 48029191504]
# assign 78231 to this track = highest % addresses

In [ ]:
# find value for 48029191004
zips[zips.tract == 48029191004]
# assign 78216 to this track = highest % addresses

In [ ]:
# find value for 48029130500
zips[zips.tract == 48029130500]
# assign 78202 to this track = highest % addresses

In [ ]:
tracts_list = missing_zip.tract.tolist()

In [ ]:
assign_zip_list = [78101, 78023, 78216, 78210, 78263, 78249, 78238, 78148, 78233, 78205, 78255, 78204, 78259,
                   78219, 78233, 78227, 78251, 78214, 78231, 78216, 78202]

In [ ]:
len(tracts_list)

In [ ]:
len(assign_zip_list)

In [ ]:
# verified lists are same length, now zip lists together into df to merge back to fulldf
# https://cmdlinetips.com/2018/01/how-to-create-pandas-dataframe-from-multiple-lists/#:~:text=Create%20pandas%20dataframe%20from%20lists%20using%20zip%20Second,it%20to%20produce%20one%20item%20at%20a%20time.
data_to_add = pd.DataFrame()
data_to_add['tract'] = tracts_list
data_to_add['zip'] = assign_zip_list
data_to_add

In [ ]:
# add these values to the merge zip df
merge_zip2 = merge_zip.append(data_to_add)

In [ ]:
len(merge_zip2)

In [ ]:
# create new df merging svi and 2nd merge zip file on tract
svi_zip = pd.merge(svidf, merge_zip2, on='tract', how='left')
svi_zip.shape

In [ ]:
# check for nulls
svi_zip.isna().sum()

In [ ]:
svi_zip.head()

In [ ]:
bexar_cases.head()

In [ ]:
# rename the zip code column to merge on
bexar_cases = bexar_cases.rename(columns={'zip_code': 'zip', 'populationtotals_totpop_cy': 'population'})

In [ ]:
bexar_cases

In [ ]:
# create dataframe to merge with svi
merge_bexar = bexar_cases[['zip', 'population', 'positive', 'casesp100000']]
merge_bexar.head()

In [ ]:
# merge svi_zip with merge_bexar
svi_zip_cases = pd.merge(svi_zip, merge_bexar, on='zip', how='left')
svi_zip_cases.head()

In [ ]:
# check for nulls
svi_zip_cases.isna().sum()

In [ ]:
# write final compliation to csv
#svi_zip_cases.to_csv('full_san_antonio.csv')