In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Bexar_County_COVID-19_Data_by_Zip_Code.csv', index_col=0)

In [5]:
df

,ZIP_CODE,populationtotals_totpop_cy,Positive,CasesP100000,ZipInt,ActiveCases,ActiveCaseRate,SHAPE_Length,SHAPE_Area
OBJECTID,,,,,,,,,
1,78002,9061,378,4171.724975,78002,24,264.871427,0.427542,0.009546
2,78006,5243,96,1831.012779,78006,7,133.511348,0.552725,0.005416
4,78015,12254,192,1566.835319,78015,16,130.569610,0.278955,0.002312
5,78023,29569,642,2171.192803,78023,49,165.714092,0.886455,0.017922
7,78052,699,28,4005.722461,78052,1,143.061516,0.260085,0.001147
...,...,...,...,...,...,...,...,...,...
82,78260,36255,786,2167.976831,78260,64,176.527376,0.407156,0.005818
83,78261,23828,507,2127.748867,78261,50,209.837166,0.474302,0.006743
84,78263,5228,138,2639.632747,78263,8,153.022188,0.680812,0.010405
85,78264,13113,547,4171.432929,78264,23,175.398460,0.726860,0.016811
86,78266,1362,25,1835.535977,78266,1,73.421439,0.454406,0.002098

In [6]:
df2 = pd.read_csv('COVID-19_Weekly_Data_Public.csv')

In [7]:
df2

,X,Y,objectid,globalid,reporting_date,doubling_rate,current_testing_capacity,available_contact_tracing_perso,daily_contact_tracing_need,trained_case_and_contact_tracin,estimated_active_cases,estimated_active_case_change,estimated_recovered,estimated_recovered_change,average_daily_cases,casecontact_tracing_capacity,testing_capacity_multiplier,cases_per_100000_using_moving_a
0,0,0,1,d31d02c5-0739-44b6-84ce-c25ce6f656c0,2020/05/01 17:00:00+00,18.0,1600.0,87.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0,2,bcf25449-31be-43cd-8ca3-e9728070bb1e,2020/05/02 17:00:00+00,14.0,1600.0,87.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,3,feb6c5f4-efa1-4eeb-8bba-35837aeefa1f,2020/05/04 17:00:00+00,24.0,1600.0,87.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,4,2f175c38-dd18-4f7f-87bb-116baec38268,2020/05/06 17:00:00+00,28.0,1600.0,87.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0,5,ca3e48fd-8dfa-415b-89f2-0e9c04c49501,2020/05/13 17:00:00+00,28.0,1600.0,97.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0,0,6,35bb798c-ca88-4ab9-82ab-e7e47b6008fb,2020/05/18 17:00:00+00,36.0,3960.0,97.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0,0,7,ee18298e-2f80-42f4-8859-84d3f3cafae8,2020/06/01 17:00:00+00,29.0,3960.0,105.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0,0,8,41fdbed5-fab8-4d06-8691-2d7b82b9b2fd,2020/06/08 17:00:00+00,29.0,3960.0,110.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0,0,9,ca2c49f1-332e-496b-8ef6-c98f9566eb31,2020/06/15 17:00:00+00,20.0,3960.0,95.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0,0,10,e7f920e5-995e-48d8-8b7c-928b5e5d8ff8,2020/06/21 17:00:00+00,13.0,4554.0,62.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,0,0,11,a30b45d2-12c8-43da-8b7a-2f95c5b76b58,2020/06/29 17:00:00+00,11.0,5754.0,62.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,0,0,12,8c66307c-84f4-4e23-8051-ffb1f82f8159,2020/07/06 17:00:00+00,11.0,7117.0,60.0,90.0,110.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,0,0,13,72971681-0b4c-4074-8e40-8bafa91d6818,2020/07/13 17:00:00+00,16.0,7117.0,60.0,90.0,110.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,0,0,14,f17a2bb7-84a5-4c20-8d54-8a71b52bcaf9,2020/07/19 17:00:00+00,16.0,7417.0,70.0,110.0,110.0,5780.0,NaN,21505.0,NaN,NaN,NaN,NaN,NaN
14,0,0,15,7f9cde29-2ecd-4d26-8d18-219863913ba0,2020/07/26 17:00:00+00,18.0,7417.0,70.0,97.0,110.0,8315.0,NaN,26757.0,NaN,NaN,NaN,NaN,NaN
15,0,0,16,a200a752-4ef8-4403-80cf-7fd81e3cd4a0,2020/08/02 17:00:00+00,21.0,7580.0,70.0,82.0,110.0,6841.0,NaN,33873.0,NaN,NaN,NaN,NaN,NaN
16,0,0,17,d715e356-d81c-41de-8527-a8b4ca9df68f,2020/08/09 17:00:00+00,24.0,7580.0,45.0,29.0,163.0,6207.0,NaN,34117.0,NaN,181.0,1400.0,NaN,NaN
17,0,0,18,12620bdd-626a-4b01-856b-51aaf8a13c7f,2020/08/16 17:00:00+00,40.0,7580.0,NaN,NaN,NaN,4520.0,NaN,38724.0,NaN,181.0,1400.0,NaN,NaN
18,0,0,19,369cae6e-b2e8-4249-8e33-ddb4f14e023b,2020/08/23 17:00:00+00,40.0,7580.0,NaN,NaN,NaN,3220.0,NaN,40896.0,NaN,143.0,1400.0,4.0,NaN
19,0,0,20,b128443b-468f-451b-8663-bfc31ba8b896,2020/08/30 17:00:00+00,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164.0,1400.0,NaN,NaN
20,0,0,21,0d997beb-36e0-4d44-89f1-be05f639f5f2,2020/09/06 17:00:00+00,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.0,1400.0,NaN,NaN
21,0,0,22,d87be1ab-e9d2-42a3-820c-d087eef272ea,2020/09/13 17:00:00+00,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126.0,1400.0,NaN,NaN
22,0,0,23,5eb843fa-207d-488b-8a57-7a4990da3dd5,2020/09/20 17:00:00+00,90.0,NaN,NaN,NaN,NaN,1428.0,NaN,45778.0,NaN,141.0,1400.0,NaN,NaN
23,0,0,24,bf49505a-4a3c-47cc-8a09-307e9faa183f,2020/09/27 17:00:00+00,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152.0,1400.0,NaN,NaN
24,0,0,25,747fc145-b72f-48a9-81c1-14a52a220419,2020/10/04 17:00:00+00,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,156.0,1400.0,NaN,NaN
25,0,0,26,27ca2722-d429-4d69-80cd-2986468edb44,2020/10/11 17:00:00+00,90.0,6552.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147.0,1400.0,6.0,NaN
26,0,0,27,8fecb87e-bc9f-47f8-8629-04eaabc8eca2,2020/10/18 17:00:00+00,90.0,6552.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152.0,1400.0,6.0,NaN
27,0,0,28,d8f64cb6-7daf-4085-8659-42a69eff842a,2020/10/25 17:00:00+00,90.0,6035.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,184.0,1400.0,3.0,NaN
28,0,0,29,40316939-8810-4450-8d3b-8f8ab000346a,2020/11/01 18:00:00+00,90.0,6035.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,207.0,1400.0,3.0,NaN
29,0,0,30,5f6f5d8b-65b2-4498-827d-2a315edcb232,2020/11/09 18:00:00+00,90.0,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198.0,1400.0,7.0,NaN
30,0,0,31,cc6cb3d1-df0e-4153-8871-1ff6e71649a0,2020/11/15 18:00:00+00,90.0,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,328.0,1400.0,7.0,NaN
31,0,0,32,75bf0038-7658-4ed3-8e04-b7fb22732b54,2020/11/22 18:00:00+00,90.0,6197.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,476.0,1400.0,2.0,38.6
32,0,0,33,ea8b3858-8ccb-42e1-8d35-dbfa3fa64fdc,2020/11/30 18:00:00+00,78.0,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,774.0,1400.0,2.0,38.6
33,0,0,34,d82bf11b-e6ee-4a67-88af-9d6ce3e6d51b,2020/12/07 18:00:00+00,NaN,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,980.0,1400.0,2.0,48.9

In [8]:
df3 = pd.read_csv('texas-history.csv')

In [9]:
df3

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-12-07,TX,A,22627.0,NaN,33,NaN,NaN,NaN,8790.0,...,11455346,94370,593787.0,772035.0,NaN,NaN,NaN,0,11455346.0,94370
1,2020-12-06,TX,A,22594.0,NaN,92,NaN,NaN,NaN,8681.0,...,11360976,118223,590964.0,757015.0,NaN,NaN,NaN,0,11360976.0,118223
2,2020-12-05,TX,A,22502.0,NaN,247,NaN,NaN,NaN,8916.0,...,11242753,131717,587512.0,738801.0,NaN,NaN,NaN,0,11242753.0,131717
3,2020-12-04,TX,A,22255.0,NaN,255,NaN,NaN,NaN,9015.0,...,11111036,93589,583553.0,710943.0,NaN,NaN,NaN,0,11111036.0,93589
4,2020-12-03,TX,A,22000.0,NaN,244,NaN,NaN,NaN,9151.0,...,11017447,84901,578670.0,686194.0,NaN,NaN,NaN,0,11017447.0,84901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,2020-03-08,TX,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,8,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
275,2020-03-07,TX,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,8,3,NaN,NaN,NaN,NaN,NaN,0,NaN,0
276,2020-03-06,TX,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,5,4,NaN,NaN,NaN,NaN,NaN,0,NaN,0
277,2020-03-05,TX,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,1,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
278,2020-03-04,TX,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,1,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [14]:
df4 = pd.read_csv('Texas COVID-19 New Confirmed Cases by County.csv', header=2)

In [15]:
df4

,County,New Cases 2020-03-04,New Cases 2020-03-05,New Cases 2020-03-06,New Cases 2020-03-09,New Cases 2020-03-10,New Cases 2020-03-11,New Cases 2020-03-12,New Cases 2020-03-13,New Cases 2020-03-15,...,New Cases 11-29,New Cases 11-30,New Cases 12-01,New Cases 12-02,New Cases 12-03,New Cases 12-04,New Cases 12-05,New Cases 12-06,New Cases 12-07,New Cases 12-08
0,Anderson,0,0,0,0,0,0,0,0,0,...,0,0,23,8,13,6,6,0,0,25
1,Andrews,0,0,0,0,0,0,0,0,0,...,0,0,48,21,10,0,38,0,0,0
2,Angelina,0,0,0,0,0,0,0,0,0,...,0,0,54,0,19,55,0,0,0,93
3,Aransas,0,0,0,0,0,0,0,0,0,...,9,0,9,1,7,3,1,7,0,7
4,Archer,0,0,0,0,0,0,0,0,0,...,9,0,0,12,19,0,9,0,0,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,Wood,0,0,0,0,0,0,0,0,0,...,0,0,13,23,1,6,19,0,0,41
250,Yoakum,0,0,0,0,0,0,0,0,0,...,0,0,20,2,0,2,2,0,0,7
251,Young,0,0,0,0,0,0,0,0,0,...,3,0,0,37,49,2,25,0,0,30
252,Zapata,0,0,0,0,0,0,0,0,0,...,16,0,19,1,1,1,21,7,0,13
253,Zavala,0,0,0,0,0,0,0,0,0,...,0,0,11,41,1,7,0,0,0,3