In [1]:
import pandas as pd
import acquire
import wrangle

In [2]:
# test Dallas compile
dallasdf = acquire.compile_dallas_data()

In [3]:
dallasdf.isna().sum()

st                  0
state               0
st_abbr             0
stcnty              0
county              0
                 ...
e_daypop            0
address_ratio       0
zip                 0
population        246
cases_per_100k    246
Length: 128, dtype: int64

In [4]:
dallasdf.shape

(529, 128)

In [11]:
null_list = dallasdf[dallasdf.cases_per_100k.isna()].zip.tolist()

In [14]:
# there are 62 zip codes in the Dallas SVI that are not showing in the list of cases
len(set(null_list))

62

In [15]:
set(null_list)

{75001,
 75006,
 75019,
 75030,
 75038,
 75039,
 75040,
 75041,
 75042,
 75043,
 75044,
 75045,
 75046,
 75047,
 75048,
 75050,
 75051,
 75052,
 75053,
 75060,
 75061,
 75062,
 75063,
 75067,
 75080,
 75081,
 75083,
 75088,
 75089,
 75099,
 75104,
 75106,
 75115,
 75116,
 75123,
 75134,
 75137,
 75141,
 75146,
 75149,
 75150,
 75154,
 75159,
 75180,
 75181,
 75182,
 75185,
 75201,
 75207,
 75250,
 75260,
 75261,
 75270,
 75287,
 75339,
 75357,
 75372,
 75374,
 75390,
 75398,
 76051,
 76065}

In [8]:
ddf = acquire.get_dallas_data()

In [9]:
ddf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   zip                 43 non-null     int64
 1   county              43 non-null     object
 2   population          43 non-null     int64
 3   covid_count_median  43 non-null     int64
 4   cases_per_100k      43 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.8+ KB

In [10]:
ddf

      zip  county  population  covid_count_median  cases_per_100k
0   75254  Dallas       23253                 616            2649
1   75253  Dallas       18450                1846           10005
2   75252  Dallas       24112                 616            2555
3   75251  Dallas        2331                 616           26426
4   75249  Dallas       13373                 616            4606
5   75248  Dallas       33395                 616            1845
6   75247  Dallas         468                 616          131624
7   75246  Dallas        2770                 616           22238
8   75244  Dallas       13266                 616            4643
9   75243  Dallas       55406                1846            3332
10  75241  Dallas       27066                1846            6820
11  75240  Dallas       24296                1846            7598
12  75238  Dallas       30483                1846            6056
13  75237  Dallas       17101                 616            3602
14  75236  Dallas       15949                 616            3862
15  75235  Dallas       17177                1846           10747
16  75234  Dallas       28794                1846            6411
17  75232  Dallas       28682                1846            6436
18  75231  Dallas       37052                1846            4982
19  75230  Dallas       26934                 616            2287
20  75229  Dallas       31571                1846            5847
21  75228  Dallas       66551                4305            6469
22  75227  Dallas       55029                4305            7823
23  75226  Dallas        3506                 616           17570
24  75225  Dallas       20892                 616            2948
25  75224  Dallas       34034                3075            9035
26  75223  Dallas       13947                 616            4417
27  75220  Dallas       41891                1846            4407
28  75219  Dallas       22124                1846            8344
29  75218  Dallas       21665                 616            2843
30  75217  Dallas       80324                5535            6891
31  75216  Dallas       49416                3075            6223
32  75215  Dallas       14648                 616            4205
33  75214  Dallas       32950                1846            5602
34  75212  Dallas       24884                1846            7418
35  75211  Dallas       73146                5535            7567
36  75210  Dallas        7482                 616            8233
37  75209  Dallas       13653                 616            4512
38  75208  Dallas       30171                1846            6118
39  75206  Dallas       36248                1846            5093
40  75205  Dallas       23061                1846            8005
41  75204  Dallas       26279                1846            7025
42  75203  Dallas       15721                 616            3918

In [ ]:
dsvi = acquire.get_dallas_svi_data()

In [ ]:
dsvi.shape

In [ ]:
svi_zip = pd.merge(dsvi, mer, on='tract', how='left')

In [ ]:
svi_zip[svi_zip.zip.isna()]

In [ ]:
mer = acquire.get_HUD(dsvi)

In [ ]:
len(mer)

In [ ]:
mer.head()

In [ ]:
mer[mer.tract == 48113001701]

In [ ]:
mer[mer.tract == 48113020700]